.experience-title{
    font-size: 3rem;
    font-weight: bold;
    text-align: left;
    color: white;
}
.experience-subtitle{
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    color :white;
}

