.experience-title{
    font-size: 3rem;
    font-weight: bold;
    text-align: left;
    color: white;
}
.experience-subtitle{
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    color :white;
}

.container-experience{
    position: relative;
}

.center-experience {
    position: absolute;
    pointer-events: none;
    bottom: 15%;
    right: 0%;
    left: 0%;
    
  }