.backgroundHome{
    background: url(../../assets/background.png) no-repeat fixed center ;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}


.stroked {
    color: transparent !important;
    -webkit-text-stroke: 1px white;
    font-weight: bold;
    font-size: 72px;
  }

.button-home{
    border: 1px solid white !important;
    color: white !important;
    padding: 16px 20px !important;

}
.button-home:hover{
    border: 1px solid white !important;
    color: red !important;
}
