
.stroked {
    color: transparent !important;
    -webkit-text-stroke: 1px #E94560;
    font-weight: bold;
    font-size: 72px;
  }

.button-home{
    border: 1px solid #E94560 !important;
    color: white !important;
    padding: 16px 20px !important;

}
.button-home:hover{
    border: 1px solid #E94560 !important;
    color: #E94560 !important;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}