.title{
    text-align: center;
    font-size: 50px;
    color: white;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.divider{
    display: flex;
    justify-content: center;
}