.portfolio-box{
    background-color: #0F3460;
    padding: 10px 12px;
    color: #E94560;
}
.portfolio-grid{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
    margin-bottom: 4rem;
}

.portfolio-title{
    font-weight: bold;
    font-size: 3rem;
    color: #0F3460;
    transition: text-shadow 1s;
}



.portfolio-button{
    background-color: #1A1A2E;
    padding: 10px 12px;
    margin: 3px;
    border-color: transparent;
    color: #E94560;
    font-weight: bold;
    transition: background-color 1s;
}

.portfolio-button-selected{
    background-color: #E94560 !important;
    padding: 10px 12px;
    color: #0F3460;
    margin: 3px;
    font-weight: bold;
    transition: background-color 1s;
    border-color: transparent;
}

.portfolio-div{
    display: flex;
    justify-content: space-between;
 
}

.div-boxes{
    min-height: 40vh;
}