.background-contact{
    background-image: url(https://goprotemplate.com/work/01_product/assets/images/contact_bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #16213E;
    min-height: 70vh;
}

.grid-contacto{
    display: flex;
    flex-direction: column !important;
}

.label-contacto{
    color: gray;
}

.grid-izq{
    height: 40vh;
    display: flex;
    flex-direction: column !important;
    justify-content: space-evenly;
}